# staticfiles/
# mediafiles/

# Archivos de Python generados
__pycache__/
*.pyc
*.pyd
.python-version

# Entorno
.env


# Archivos de Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-*
media

# Archivos generados por django-vite
node_modules/
# assets/

# Entornos virtuales
.venv/
venv/

# Archivos de VS Code
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Otros
*.swp  # Archivos swap de Vim
*~     # Archivos backup de algunos editores
