asgiref==3.8.1
colorama==0.4.6
Django==5.1.7
django-vite==3.1.0
django_components==0.131
djc_core_html_parser==1.0.1
gunicorn==23.0.0
loguru==0.7.3
packaging==24.2
psycopg2-binary==2.9.10
python-dotenv==1.0.1
PyYAML==6.0.2
sqlparse==0.5.3
tzdata==2025.1
win32_setctime==1.2.0
