/* Definición explícita de las clases de utilidad para fuentes */
@layer utilities {
    /* Forma correcta de definir utilidades de fuente en Tailwind 4 */
    .font-roboto {
        font-family: 'Roboto', sans-serif;
    }
    
    .font-inter {
        font-family: 'Inter', sans-serif;
    }
    
    .font-opensans {
        font-family: 'Open Sans', sans-serif;
    }
    
    .font-caveat, .font-brand {
        font-family: 'Caveat Brush', cursive;
    }
    
    .font-boogaloo {
        font-family: 'Boogaloo', cursive;
    }
    
    .font-chango {
        font-family: 'Chango', cursive;
    }
}

/* --- Custom Classes --- */
@layer components {
    .tag-udn {
        @apply bg-[#fff8e1] text-[#a86922] border border-[#ffecb3] rounded;
    }

    .tag-sector {
        @apply bg-[#e3f2fd] text-[#5d6f91] border border-[#bbdefb] rounded;
    }

    .tag-category {
        @apply bg-[#f3e5f5] text-[#796491] border border-[#d1c4e9] rounded;
    }

    .status-open {
        @apply bg-[#FFDEDE] text-[#C62828] border border-[#FFCDD2] rounded;
    }

    .status-pending {
        @apply bg-[#E8F5E9] text-[#407143] border border-[#C8E6C9] rounded;
    }
    
    .status-closed {
        @apply bg-[#EEEEEE] text-[#424242] border border-[#E0E0E0] rounded;
    }

} 
