{% extends "base/layout.html" %}

{% block title %}WelpDesk - Lista de Tickets{% endblock %}

{% block content %}
<section>
    <h2>Lista de Tickets</h2>
    <div id="list-container">
        <div
            hx-get="{% url 'ticket-list' %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}"
            hx-trigger="load"
            hx-target="#list-container">
            <p>Cargando...</p>
        </div>
    </div>
</section>
{% endblock %}

{% block aside %}
<aside>
    <div class="px-3 py-2 flex flex-wrap gap-1 w-60 bg-sky-800">
        {% for udn in user_allowed_udns %}
            {% if udn.name in current_filters.udn %}
                {% component "tag-switch"
                    label=udn.name
                    type="udn"
                    name=udn.name
                    value=udn.pk
                    checked=True
                    hx_get=request.path
                    hx_target="#list-container"
                    hx_swap="innerHTML"
                    hx_include="#filter-form-element"
                / %}
            {% else %}
                {% component "tag-switch"
                    label=udn.name
                    type="udn"
                    name=udn.name
                    value=udn.pk
                    checked=False
                    hx_get=request.path
                    hx_target="#list-container"
                    hx_swap="innerHTML"
                    hx_include="#filter-form-element"
                / %}
            {% endif %}
        {% endfor %}

        {% for sector in user_allowed_sectors %}
            {% if sector.name in current_filters.sector %}
                {% component "tag-switch"
                    label=sector.name
                    type="sector"
                    name=sector.name
                    value=sector.pk
                    checked=True
                    hx_get=request.path
                    hx_target="#list-container"
                    hx_swap="innerHTML"
                    hx_include="#filter-form-element"
                / %}
            {% else %}
                {% component "tag-switch"
                    label=sector.name
                    type="sector"
                    name=sector.name
                    value=sector.pk
                    checked=False
                    hx_get=request.path
                    hx_target="#list-container"
                    hx_swap="innerHTML"
                    hx_include="#filter-form-element"
                / %}
            {% endif %}
        {% endfor %}

        {% for category in user_allowed_issue_categories %}
            {% if category.name in current_filters.issue_category %}
                {% component "tag-switch"
                    label=category.name
                    type="category"
                    name=category.name
                    value=category.pk
                    checked=True
                    hx_get=request.path
                    hx_target="#list-container"
                    hx_swap="innerHTML"
                    hx_include="#filter-form-element"
                 / %}
            {% else %}
                {% component "tag-switch"
                    label=category.name
                    type="category"
                    name=category.name
                    value=category.pk
                    checked=False
                    hx_get=request.path
                    hx_target="#list-container"
                    hx_swap="innerHTML"
                    hx_include="#filter-form-element"
                 / %}
            {% endif %}
        {% endfor %}
    </div>
    <button type="button" id="collapse-filters"
        class="w-full p-4 bg-sky-800 border-sky-800 text-white rounded-br-2xl flex items-center justify-center hover:bg-sky-600 transition-colors duration-200">
        <i class="fa fa-caret-up fa-lg"></i>
    </button>
</aside>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const collapseButton = document.getElementById('collapse-filters');
            const filterForm = document.getElementById('filter-form');
            const icon = collapseButton.querySelector('i');

            collapseButton.addEventListener('click', function() {
                filterForm.classList.toggle('hidden');

                if (filterForm.classList.contains('hidden')) {
                    icon.classList.remove('fa-caret-up');
                    icon.classList.add('fa-filter');
                } else {
                    icon.classList.remove('fa-filter');
                    icon.classList.add('fa-caret-up');
                }
            });
        });
    </script>
{% endblock %}
