{% extends "base/layout.html" %}

{% block title %}WelpDesk - Lista de Tickets{% endblock %}

{% block content %}
<section>
    <h2>Lista de Tickets</h2>
    {% for ticket in tickets %}
        <div hx-get="{% url 'ticket-item' ticket.id %}" 
             hx-trigger="load"
             hx-swap="outerHTML"
             hx-target="this"
             class="htmx-indicator">
        </div>
    {% empty %}
        <div class="flex flex-row justify-center items-center min-w-full">
            <p class="justify-center items-center text-earth-700 text-lg font-semibold">No hay tickets disponibles.</p>
        </div>
    {% endfor %}
    
    <!-- Controles de paginación -->
    {% if page_obj.has_other_pages %}
    <div class="flex flex-row justify-center items-center w-full gap-x-2">
        {% if page_obj.has_previous %}
            {% component "button" 
                label="Primera" 
                action="?page=1" 
                color="button-secondary" 
                icon="fa fa-angle-double-left" / %}
            {% component "button" 
                label="Anterior" 
                action="?page={{ page_obj.previous_page_number }}" 
                color="button-secondary" 
                icon="fa fa-angle-left" / %}
        {% endif %}
        
        <span class="text-gray-700">
            <span>Página</span> <span> {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
        </span>
        
        {% if page_obj.has_next %}
            {% component "button" 
                label="Siguiente" 
                action="?page={{ page_obj.next_page_number }}" 
                color="button-secondary" 
                icon="fa fa-angle-right" / %}
            {% component "button" 
                label="Última" 
                action="?page={{ page_obj.paginator.num_pages }}" 
                color="button-secondary" 
                icon="fa fa-angle-double-right" / %}
        {% endif %}
    </div>
    {% endif %}
</section>
{% endblock %}
